{% include 'header.html' %}

<h1>Welcome to My Flask App</h1>
<p>This is a simple Flask application that demonstrates the use of Jinja templates.</p>

<h2>Features</h2>
<ul>
    <li>Flask - Python web framework</li>
    <li>HTML - Structure of web pages</li>
    <li>Templates - Dynamic content rendering with Jinja</li>
    <li>Reusable components - Header and footer templates</li>
</ul>

<h2>Technologies Used</h2>
<ol>
    <li>Python 3</li>
    <li>Flask</li>
    <li>Jinja2</li>
    <li>HTML5</li>
    <li>CSS</li>
</ol>

{% include 'footer.html' %}
